@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fondo: #f3f4f6;
  --texto: #111827;
}

body {
  background-color: var(--fondo);
  color: var(--texto);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

/* Ocultar scrollbar en el filtro de categorías */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
